html,
body {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #262c40;
  font-family: "PublicSans";
  font-size: 16px;
  height: 100%;
  line-height: 1.35rem;
}

h1,
h3 {
  color: #414e6e;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

a {
  color: #6374ae;
}

a:hover {
  color: #9cb6dd;
  transition: 300ms ease-in-out;
}
