header {
  position: relative;
}

.code {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.code > pre {
  margin: 0;
  font-size: 20px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.avatar {
  width: 180px;
  height: 180px;
  margin-bottom: 16px;
  border-radius: 9999px;
  box-shadow: 0 0 0 5px #6374ae, 0 0 0 15px #9cb6dd, 0 0 0 25px #d3e2f2;
}

.content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.content > h1,
h3 p {
  margin: 0px;
}
