main {
  padding: 64px 64px;
  @media screen and (min-width: 640px) {
    padding: 64px 128px;
  }
  @media screen and (min-width: 1024px) {
    padding: 64px 256px;
  }
  background-color: #f2f7fb;
  flex-grow: 1;
}

.talks-container {
  display: flex;
  flex-direction: column;
}
